body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #a0522d;
    /* Add brown line under the navbar */
}

header a:is(:link, :active, :visited).active {
    color: #ae5105c8;
    background: transparent;
}

header .logo img {
    width: 50px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.hero {
    max-width: 100%;
    width: 80%;
    height: 4%;
    margin-left: 10%;
    object-fit: fill;
    
}

.responsive{
    width: 100%;
    height: 50px;
}

.hero .responsive{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slides img{
    height: 50px;
    width: 100%;
    object-fit: cover;
}
.slideshow-container {
    position: static;
    max-width: 100%;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
    height: auto;
}

.content {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #d19318;
    font-size: 46px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-between;
    text-align: center;
    color: #333;
    margin-left: 30px;
    margin-right: 30px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
    text-align: right;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}